<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475909373293-sg4us0jnjairm40a3jh2bgt3hb619dm1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475909373293-sg4us0jnjairm40a3jh2bgt3hb619dm1</string>
	<key>API_KEY</key>
	<string>AIzaSyBaHGlc4ui1PU_8MonbeXDBvcKqjtckLnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>475909373293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kapi.findfoodv2</string>
	<key>PROJECT_ID</key>
	<string>find-food-fit-me-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>find-food-fit-me-v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475909373293:ios:71b0f0cd835520116d6e64</string>
</dict>
</plist>